body {
    background-color: white;
}
h1,p, nav {
    font-family: "Times New Roman", Times, serif;
}

nav { background-color: lightblue;}

.jumbotron {
    background-color: blue;
}

ul {
    width:2000px;
}